In [ ]:
# Question 4 - Extracting GameStop Revenue Data Using Webscraping

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

In [3]:
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
import pandas as pd
GameStop_revenue = pd.DataFrame(columns=["Date","Revenue"])

In [13]:
table_data = soup.find("table", {"class":"historical_data_table, table"})

In [14]:
new_data = soup.find_all('tbody')[1]

In [15]:
rows = new_data.find_all("tr")

In [19]:
for row in rows:
    cols = row.find_all("td")
    date = cols[0].text
    revenue = cols[1].text
    GameStop_revenue = GameStop_revenue._append({"Date":date,"Revenue":revenue},ignore_index=True)

In [21]:
GameStop_revenue

          Date Revenue
0   2020-04-30  $1,021
1   2020-01-31  $2,194
2   2019-10-31  $1,439
3   2019-07-31  $1,286
4   2019-04-30  $1,548
..         ...     ...
57  2006-01-31  $1,667
58  2005-10-31    $534
59  2005-07-31    $416
60  2005-04-30    $475
61  2005-01-31    $709

[62 rows x 2 columns]