In [ ]:
# Question 2 - Extracting Tesla Revenue Data Using Webscraping

In [1]:
import requests
from bs4 import BeautifulSoup

In [27]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

In [28]:
response = requests.get(url)

In [57]:
soup = BeautifulSoup(response.text, "html.parser")

In [30]:
import pandas as pd
tesla_revenue = pd.DataFrame(columns=["Date","Revenue"])

In [31]:
table_data = soup.find("table",{"class":"historical_data_table, table"})

In [55]:
new_data =  soup.find_all('tbody')[1]
rows =  new_data.find_all("tr")
for row in rows:
    cols = row.find_all("td")
    date = cols[0].text
    revenue = cols[1].text
    tesla_revenue = tesla_revenue._append({"Date":date,"Revenue":revenue},ignore_index=True)

In [56]:
tesla_revenue

           Date Revenue
0          2014     500
1          2014     500
2          2014     500
3          2014     500
4          2014     500
..          ...     ...
158  2010-06-30     $28
159  2010-03-31     $21
160  2009-12-31
161  2009-09-30     $46
162  2009-06-30     $27

[163 rows x 2 columns]